* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    background: #000;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 20px;
}

.navbar ul li {
    display: block;
    padding: 10px 20px;
    margin: 0 5px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li:not(.login) a:hover {
    color: #015FC7;
}

.navbar ul li.login {
    background: #015FC7;
    border-radius: 5px;
}

.hero_section {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #000;
    color: #fff;
}

.hero_section img {
    height: 538px;
    width: 40%;
}

.hero_section .hero_content {
    width: 60%;
    padding: 0 40px;
}

.hero_section .hero_content h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 5px 0;
}

.hero_section .hero_content h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 7px 0 20px 0;
    color: #015FC7;
}

.hero_section .hero_content .buttons {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    background: #015FC7;
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 10px;
}

.register_container,
.login_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    color: #fff;
    position: relative;
}

.register_container img,
.login_container img {
    height: 538px;
}

.login_container {
    justify-content: space-between;
}

.login_container .form_container {
    margin-right: 40px;
}

.register_container .form_container h1,
.login_container .form_container h1 {
    font-size: 33px;
    margin-bottom: 20px;
    font-weight: 700;

}

.register_container .form_container div,
.login_container .form_container div {
    margin-bottom: 20px;
    position: relative;
}

.register_container .form_container label,
.login_container .form_container label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.register_container .form_container input,
.login_container .form_container input {
    border: 0;
    outline: 0;
    width: 300px;
    height: 40px;
    background: #fff;
    padding: 5px 10px;
    z-index: 0;
    font-size: 16px;
}

.register_container .form_container button,
.login_container .form_container button {
    margin: 0 75px;
}

.register_container .form_container i,
.login_container .form_container i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    color: #000;
    cursor: pointer;
}